* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: #019;
    padding: 1rem;
    margin-bottom: 1rem;
}

header * {
    color: white;
}

h2,
h3,
h4,
hr {
    margin: 1rem;
}

a {
    padding: 1rem 1ch;
    margin: 2rem;
    color: black;
    text-decoration: none;
    display: block;
    box-shadow: 0.2ch 0.2ch 0.5rem 0.2ch #7B868C;
    /* border: 2px outset #7B868C; */
    border-radius: 1ch;
}

a:active,
#back:active {
    color: #ffcd00;
}

#back {
    color: white;
    width: fit-content;
    margin: 0;
    padding: 0.5rem 1ch;
    text-align: left;
    font-weight: bold;
    box-shadow: none;
}

div {
    width: 100%;
}

#login {
    display: block;
}

form {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

form * {
    display: block;
    margin: 1rem;
}

form input {
    padding: 1ch;
    background-color: #eee;
}

form input[type=submit] {
    margin-left: auto;
    margin-right: auto;
}

textarea {
    font-size: 40pt;
    font-weight: bold;
    width: 50%;
    height: 4rem;
    padding: 1ch;
    border: 2pt solid black;
    border-radius: 1ch;
    box-shadow: 0.1ch 0.1ch 0.4ch 0.1ch black;
}